/* Write your CSS here */
.image-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 140px;
  border: none;
  background-color: white;
  border-radius: 4px;
  margin: 10px;
  padding: 8px;
}

.Image {
  height: 50px;
  width: 50px;
  margin-top: 10px;
}
.name {
  color: #7b8794;
  font-size: 15px;
}
